<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../part/headboostrap'); %>
</head>
<body class="container">
  <%- include('../part/header'); %>

  <main>
    <div class="d-flex justify-content-center">
      <p class="fs-5">Selamat Datang</p>
    </div>
  </main>
  
  <footer>
    <%- include('../part/footer'); %>
  </footer>
</body>
</html>